export(bujar, gcv.enet)
exportClasses("bujar")
exportMethods("show")

importFrom("mboost", "boost_control")
importFrom("mboost", "mstop")
importFrom("mboost", "cvrisk")
importFrom("mboost", "glmboost")
importFrom("mboost", "gamboost")
importFrom("mda", "mars")
importFrom("ncvreg", "ncvreg")
importFrom("ncvreg", "cv.ncvreg")
importFrom("earth", "mars.to.earth")
importFrom("earth", "evimp")
importFrom("elasticnet", "enet")
importFrom("gbm", "gbm")
importFrom("gbm", "predict.gbm")
importFrom("gbm", "gbm.perf")
importFrom("rms", "bj")

S3method(plot, bujar)
S3method(print, bujar)
S3method(coef, bujar)
S3method(predict, bujar)

