export(bujar, gcv.enet)
importFrom("mboost", "boost_control")
importFrom("mboost", "mstop")
importFrom("mboost", "cvrisk")
importFrom("mboost", "glmboost")
importFrom("mboost", "gamboost")
importFrom("mboost", "bbs")
importFrom("mda", "mars")
importFrom("mpath",  "glmreg")
importFrom("mpath",  "cv.glmreg")
importFrom("earth", "earth")
importFrom("earth", "mars.to.earth")
importFrom("earth", "evimp")
importFrom("elasticnet", "enet")
importFrom("gbm", "gbm")
importFrom("gbm", "predict.gbm")
importFrom("gbm", "gbm.perf")
importFrom("rms", "bj")
importFrom("bst", "bst")
importFrom("bst", "cv.bst")
importFrom("bst", "bst_control")
importFrom("modeltools", "ModelEnvFormula")
import("parallel")
importFrom("stats", "coef")
importFrom("survival", "survfitKM")

S3method(plot, bujar)
S3method(print, bujar)
S3method(coef, bujar)
S3method(predict, bujar)
S3method(summary, bujar)

importFrom("grDevices", "dev.interactive", "dev.off", "postscript")
importFrom("graphics", "barplot", "lines", "par", "plot", "points")
importFrom("methods", "Quote", "existsFunction")
importFrom("stats", "AIC", "cor", "fitted", "lm", "predict",
             "quantile", "resid", "sd", "update", "var",
             "variable.names", "weighted.mean")
importFrom("utils", "getFromNamespace")
